spring:
  application:
    name: LoginAPI
  datasource:
    url: jdbc:mysql://localhost:3306/loginAPI
    username: root
    password: Verma@7176
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080
  # Add this to allow external connections
  address: 0.0.0.0

# CORS Configuration
app:
  cors:
    allowed-origins: "*"